@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:root {
  --default-bg-color: #fff;
  --default-color: #2d2d2d;
  --default-hover: #eb2f06;
  --default-box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
  --default-font-size: 1.7rem;
  --default-transition-time: .2s;
  --default-border-radius: 3px;
  --section-padding: 10rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh;
}

/* Container */
.container {
  margin: 0 auto;
  max-width: 120rem;
  padding: 0 2.5rem;
}

/* Header & Nav */
.header {
  background-color: var(--default-bg-color);
  box-shadow: var(--default-box-shadow);
  color: var(--default-color);
}

.header .container {
  padding: 2rem;
  display: flex;
  align-items: center
}

.header__logo-box {
  font-size: 2.2rem;
  font-weight: 700;
  margin-right: auto;
}

.header__logo {
  color: inherit;
  text-decoration: none;
}

.nav-checkbox {
  display: none;
}

.nav__list {
  display: flex;
  list-style: none;
}

.nav__item:not(:last-child) {
  margin-right: 2.5rem;
}

.nav__link:link,
.nav__link:visited {
  color: inherit;
  display: block;
  font-size: 1.3rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  transition: all var(--default-transition-time);
}

.nav__link:hover,
.nav__link.active {
  color: var(--default-hover);
}

.arrow {
  border: solid var(--default-color);
  border-width: 0 2px 2px 0;
  display: inline-block;
  margin-left: 5px;
  padding: 2px;
  transition: all var(--default-transition-time);
}

.arrow.down {
  transform: rotate(45deg);
}

.nav__link:hover .arrow {
  border-color: var(--default-hover);
}

.ediciones-anteriores {
  background-color: var(--default-bg-color);
  box-shadow: var(--default-box-shadow);
  display: flex;
  flex-direction: column;
  list-style: none;
  position: absolute;
  transform: scale(1, 0);
  transform-origin: top;
  transition: all .5s;
  width: 100%;
}

.edicion:not(:last-child) {
  margin-bottom: 5px;
}

.edicion__link:link,
.edicion__link:visited {
  color: inherit;
  display: block;
  font-size: 1.3rem;
  opacity: 0;
  padding: 1rem;
  text-decoration: none;
  transition:
    opacity .1s,
    color var(--default-transition-time);
}

.edicion__link:hover {
  color: var(--default-hover);
}

.nav__item--expand {
  position: relative;
}

.nav__item--expand .nav__link {
  display: flex;
  align-items: center;
}

.nav__item--expand:hover .nav__link {
  color: var(--default-hover);
}

.nav__item--expand:hover .nav__link .arrow {
  border-color: var(--default-hover);
}

.nav__item--expand:hover .ediciones-anteriores,
.nav__item--expand .nav__link:active + .ediciones-anteriores {
  transform: scale(1, 1);
}

.nav__item--expand:hover .ediciones-anteriores .edicion__link {
  opacity: 1;
  transition: opacity var(--default-transition-time) var(--default-transition-time);
}

/* Hero */
.hero {
  height: 110vh;
  background-image:
    linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)),
    url('./assets/background-banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.hero__banner-box {
  height: 100%;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__banner {
  display: block;
  height: 85%;
  margin-bottom: 3rem;
}

.hero__btn:link,
.hero__btn:visited {
  backface-visibility: hidden;
  background-color: var(--default-hover);
  border-radius: var(--default-border-radius);
  color: var(--default-bg-color);
  display: block;
  font-size: 1.8rem;
  letter-spacing: 2px;
  padding: 1.5rem 3.5rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .2s;
}

.hero__btn:hover,
.hero__btn:focus,
.hero__btn:active {
  transform: translateY(-2px);
}

.section-organizacion {
  color: var(--default-color);
  padding: 14rem 0 7rem;
}

.organizacion__paragraph {
  font-size: var(--default-font-size);
}

.organizacion__paragraph:not(:last-child) {
  margin-bottom: 1.2rem;
}

.organizacion__details {
  margin-bottom: 5rem;
}

.organizacion__transmision {
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  /* test */
  padding: 1.5rem;
  color: var(--default-bg-color);
  background-color: var(--default-color);
  border-radius: 4px;
  transition: all var(--default-transition-time);
}

.organizacion__transmision:hover {
  background-color: #4d4d4d;
}

.organizacion__transmision--channel {
  display: block;
  margin-right: 3rem;
  height: 7rem;
  width: 7rem;
}

.organizacion__transmision--detail {
  display: block;
  font-size: 2rem;
  font-weight: 700;
}

/* Programa */
.section-programa {
  padding: 7rem 0;
}

.programa:not(:last-child) {
  margin-bottom: 8rem;
}

.programa__heading {
  color: var(--default-color);
  font-size: 2rem;
  margin-bottom: 2rem;
}

.programa__table-container {
  overflow-x: auto;
  box-shadow: var(--default-box-shadow);
}

.programa__table {
  border-collapse: collapse;
  border-radius: var(--default-border-radius);
  color: var(--default-color);
  font-size: 1.5rem;
  overflow: hidden;
  width: 100%;
}

.programa__table-head {
  background-color: var(--default-hover);
  color: var(--default-bg-color);
}

.programa__table-body tr:hover,
.programa__table-body tr:focus,
.programa__table-body tr:active {
  background-color: rgb(243, 243, 243);
}

.programa__table th,
.programa__table td {
  padding: 1.2rem;
  text-align: center;
}

/* Exposiciones */
.section-exposiciones {
  padding: 7rem 0;
}

.exposiciones {
  list-style: none;
  font-size: var(--default-font-size);
}

.exposicion {
  background-color: rgb(243, 243, 243);
  color: var(--default-color);
  border-radius: var(--default-border-radius) ;
  box-shadow: var(--default-box-shadow);
  padding: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.exposicion:not(:last-child) {
  margin-bottom: 6rem;
}
  
.exposicion__heading {
  font-size: 1.8rem;
  flex: 1;
}
  
.exposicion__toggle {
  display: none;
}

.exposicion__toggle-button {
  position: relative;
  margin-left: auto;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
}

.exposicion__toggle-line {
  background-color: var(--default-color);
  display: block;
  width: 100%;
  height: 100%;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  transition: all var(--default-transition-time);
}

.exposicion__toggle-line:hover {
  transform: rotate(0) translateY(2px);
}

.exposicion__details {
  display: flex;
  width: 100%;
  font-size: 1.4rem;
  max-height: 0;
  opacity: 0;
  transform-origin: top;
  transition: opacity .4s, max-height .6s cubic-bezier(.67,.29,1,1.44);
}

.exposicion__toggle:checked ~ .exposicion__details {
  max-height: 25rem;
  opacity: 1;
  transition: max-height .6s cubic-bezier(.67,.29,1,1.44), opacity .1s .4s;
}

.exposicion__details p {
  margin-top: 1.5rem;
}

.exposicion__toggle:checked ~ .exposicion__toggle-button .exposicion__toggle-line {
  transform: rotate(180deg) translateY(0);
}

.exposicion__toggle:checked ~ .exposicion__togle-button .exposicion__toggle-line:hover {
  transform: rotate(180deg) translateY(2px);
}

/* Expositores */
.section-expositores {
  padding: 7rem 0;
}

.expositores:not(:last-child) {
  margin-bottom: 7rem;
}

.expositores__heading {
  color: var(--default-color);
  font-size: 2.6rem;
  margin-bottom: 3.5rem;
  text-align: center;
}

.expositores__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 7rem;
}

.expositor {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.expositor__img {
  flex: 1;
  display: block;
  max-height: 100%;
  width: 100%;
}

.expositor__caption {
  margin-top: 1rem;
  font-size: 1.5rem;
}

/* Contacto */
.section-contacto {
  padding: 7rem 0;
}

.contacto__group {
  margin: 0 auto;
  max-width: 70vw;
}

.contacto__group:not(:last-child) {
  margin-bottom: 7rem;
}

.contacto__group:last-child {
  text-align: center;
}

.contacto__group:last-child > *:not(:last-child) {
  margin-bottom: 1rem;
}

.contacto__heading,
.contacto__paragraph {
  color: var(--default-color);
  font-size: 1.6rem;
}

.contacto__form {
  background: #fafafa;
  border-radius: var(--default-border-radius);
  box-shadow: var(--default-box-shadow);
  padding: 3rem;
}

.contacto__form-wrapper {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 3rem;
}

.contacto__form-group:last-of-type {
  grid-column: 1 / -1;
}

.contacto__form-heading {
  color: var(--default-color);
  font-size: 1.6rem;
  margin-bottom: 3rem;
  text-align: center;
}

.contacto__form-label,
.contacto__form-input,
.contacto__form-textarea {
  display: block;
  font-size: 1.6rem;
}

.contacto__form-input,
.contacto__form-textarea {
  border: 1px solid #c0c0c0;
  border-radius: var(--default-border-radius);
  color: var(--default-color);
  font-family: inherit;
  padding: 1.2rem 1.5rem;
  width: 100%;
}

.contacto__form-input:focus,
.contacto__form-input:active,
.contacto__form-textarea:focus,
.contacto__form-textarea:active {
  outline-color: rgb(245, 89, 61);
}

.contacto__form-textarea {
  height: 10rem;
  resize: none;
}

.contacto__form-btn {
  backface-visibility: hidden;
  background: rgb(245, 89, 61);
  border: none;
  border-radius: var(--default-border-radius);
  color: var(--default-bg-color);
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 1.6rem;
  padding: 1.5rem 2rem;
  text-transform: uppercase;
  transition: all .2s;
}

.contacto__form-btn:hover {
  transform: translateY(-2px);
}

/* Footer */
.footer {
  background-color: var(--default-color);
  color: var(--default-bg-color);
  font-size: 1.25rem;
  margin-top: 4rem;
  padding: 2rem 4rem;
  text-align: center;
}

/* Section heading */
.section-heading {
  margin-bottom: 6rem;
  text-align: center;
  text-transform: uppercase;
}

.section-heading__title {
  color: var(--default-color);
  display: inline-block;
  font-size: 5rem;
  font-weight: 300;
  position: relative;
}

.section-heading__title::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  display: inline-block;
  height: 1px;
  width: 100%;
  background: linear-gradient(to right, white, #eb2f06, #fc2f01, #eb2f06, white);
}

/* Media Queries */

/* At 800px */
@media only screen and (max-width: 50em) {
  html {
    font-size: 56.25%;
  }

  .hero__banner {
    height: 70%;
  }

  .header .container {
    position: relative;
  }

  .nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--default-bg-color);
    border-top: 1px solid rgb(243, 243, 243);
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform .3s ease-in-out;
  }

  .nav-button {
    cursor: pointer;
    width: 3rem;
    z-index: 999;
    position: absolute;
    top: 0;
    right: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .nav-line {
    position: relative;
  }

  .nav-line,
  .nav-line::before,
  .nav-line::after {
    display: block;
    background-color: var(--default-color);
    height: 1px;
    transition: all .3s;
  }

  .nav-line::before,
  .nav-line::after {
    content: "";
    position: absolute;
    width: 100%;
  }

  .nav-line::before {
    top: -.7rem;
  }

  .nav-line::after {
    top: .7rem;
  }

  .nav__list {
    margin-left: 2rem;
    flex-direction: column;
  }

  .nav__item {
    margin: 1.2rem 0;
  }

  .nav__link {
    opacity: 0;
    transition: opacity .1s ease-in-out;
  }

  .nav-checkbox:checked + .nav-button > .nav-line {
    background-color: transparent;
  }

  .nav-checkbox:checked + .nav-button > .nav-line::before {
    top: 0;
    transform: rotate(45deg);
    }

  .nav-checkbox:checked + .nav-button > .nav-line::after {
    top: 0;
    transform: rotate(-45deg);
  }

  .nav-checkbox:checked ~ .nav {
    transform: scale(1, 1);
  }

  .nav-checkbox:checked ~ .nav .nav__link {
    opacity: 1;
    transition: opacity .25s ease-in-out .25s;
  }

  .ediciones-anteriores {
    width: 25%;
  }

  .exposicion__toggle:checked ~ .exposicion__details {
    max-height: 40rem;
  }
}

/* At 600px */
@media only screen and (max-width: 37.5em) {
  .section-heading__title {
    font-size: 3.8rem;
  }

  .hero {
    height: auto;
    background-image: none;
  }

  .hero__banner-box {
    padding: 0;
  }

  .hero__banner {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .exposicion__toggle:checked ~ .exposicion__details {
    max-height: 65rem;
  }

  .contacto__group {
    max-width: 100%;
  }

  .contacto__form-wrapper {
    display: block;
  }
  
  .contacto__form-group:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

/* At 500px */
@media only screen and (max-width: 31.25em) {
  html {
    font-size: 50%;
  }
}